.places {
  display: grid;
  gap: 80px;
  max-width: 984px;
  margin: 0 auto;
}

@media screen and (max-width: 1140px) {
  .places {
    max-width: 90.625%;
  }
}

@media screen and (max-width: 984px) {
  .places {
    max-width: 93.75%;
    gap: 73px;
  }
}

@media screen and (max-width: 568px) {
  .places {
    max-width: 100%;
  }
}
