.footer__copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  margin: 2px 0 0;
}

@media screen and (max-width: 568px) {

  .footer__copyright {
    line-height: 14px;
    margin: 0;
  }

}
