.cover__overlay {
  min-height: 740px;
  color: #fff;
  text-decoration: none;
  box-sizing: border-box;
  padding: 20px; /* в данной работе не обязательно, из вебинара 00:34:43 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  z-index: 1;
}

.cover__overlay::before {
  content: '';
  background-color: #2a2c2f;
  opacity: .3;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: .5s;
  z-index: -1;
}

.cover__overlay:hover::before {
  opacity: .8;
}
