.page {
  background-color: #2A2C2F;
  color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 28px 48px 56px;
}

.header__logo {
  /*padding: 28px 0 56px 48px;*/
}

.header__lang-links {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 18px;
  list-style: none;
}

.header__lang-link {
  text-decoration: none;
  color: #fff;
  align-self: flex-start;
  }

.lead__image {
  width: 984px;
  height: 615px;
}

.photo-grid {
  padding: 5.75rem 3rem;
  display: grid;
  grid-template-columns: repeat(4, 400px);
  gap: 1rem;
}

.photo-grid__image {
  /*width: calc((100% - 3rem) / 4);*/
  width: 284px;
  height: 213px;
}
